        <div id="row%%ID%%" class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3><a href="%%URL%%" target="_blank">%%NAME%%</a></h3></div>
                    <div class="panel-body">
                        <p><span class="glyphicon glyphicon-star pink-star"></span>%%STARS%%</p>
                        <p>%%DESCRIPTION%%</p>
                        <button type="button" class="btn btn-sm btn-default" data-toggle="collapse" data-target="#details%%ID%%">Additional Details</button>
                        <p id="details%%ID%%"class="collapse">Repo ID: %%ID%% <a href="%%URL%%" target="_blank">%%URL%%</a> Created: %%CREATED%% Last Updated: %%PUSHED%%<p>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
